html {
    font-family:        'Open Sans', sans-serif;
    color:              #061803;
}
h1, h2 {
    font-weight:        300;
    font-size:          50px;
}
body:before
{
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 10px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 10px rgba(255,255,255,1);
    box-shadow: 0px 0px 10px rgba(255,255,255,1);
}
body {
    margin:             0;
}
body>div:first-child {
    -webkit-box-shadow: 0 0 15px rgba(02,06,01,.8);
    -moz-box-shadow:    0 0 15px rgba(02,06,01,.8);
    box-shadow:         0 0 15px rgba(02,06,01,.8);
    background-color:   #061803;
    background-image:   linear-gradient(top, #061803 37%, rgba(50,50,50,0.1) 100%);
    background-image:   -o-linear-gradient(top, #061803 37%, rgba(50,50,50,0.1) 100%);
    background-image:   -moz-linear-gradient(top, #061803 37%, rgba(50,50,50,0.1) 100%);
    background-image:   -webkit-linear-gradient(top, #061803 37%, rgba(50,50,50,0.1) 100%);
    background-image:   -ms-linear-gradient(top, #061803 37%, rgba(50,50,50,0.1) 100%);
}
body>div:last-child {
    background-color:   #eee;
    -webkit-box-shadow: 0 0 15px #bbb;
    -moz-box-shadow:    0 0 15px #bbb;
    box-shadow:         0 0 15px #bbb;
}
header {
    color:              #aaa;
    text-transform:     lowercase;
}
header>* {
    float: left;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    min-width: 300px;
}
header a {
    color:              #fff;
}
header:after, .profiles:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
header, .profiles, footer {
    position:           relative;
    padding:            25px;
    max-width:          900px;
    margin:             0 auto;
}
.profiles, footer {
    box-shadow:         40px 0 50px -50px #aaa, -40px 0 50px -50px #aaa;
}
header h2 {
    font-weight:        300;
    font-size:          100px;
    text-align:         right;
    padding:            0 60px 0 0;
    margin:             0;
}
address {
    font-style:         normal;
}
address ul {
    padding: 0;
    margin: 0;
}
address li {
    list-style: none;
    margin: 15px 0;
    font-size:          20px;
}
address a {
    display: inline-block;
    text-decoration:    none;
    color:              #fff;
}
@media (max-width: 708px) {
    header>* {
        float: none;
        margin: 0 auto;
        min-width: 250px;
    }
    address li {
        font-size: 16px;
    }
    address a {
        padding-top: 3px;
    }
    header h2 {
        padding: 0;
    }
}
address svg, address .image {
    float: left;
    width: 25px;
    height: 25px;
    margin: 3px 10px 0 0;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.pull {
    position:           absolute;
    left:               0;
    top:                30px;
    margin-left:        -620px;
    width:              500px;
    text-align:         right;
    text-transform:     lowercase;
    padding:            0 60px;
    opacity:            0.2;
}
footer .pull {
    top: -5px;
    font-size: 40px;
}
@media (max-width: 1400px) {
    .pull {
       margin-left: -575px; 
    }
    .profiles .pull {
        top: 45px;
        font-size: 40px;
    }
}
@media (max-width: 1250px) {
    .pull {display: none;}
}
header {
    box-shadow: 0 40px 50px -50px black, 40px 0 50px -50px #aaa, -40px 0 50px -50px #aaa;
}
nav ul {
    overflow: hidden;
    width: auto;
    padding: 30px 0;
    margin: 0 auto;
    max-width: 900px;
}
nav li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    list-style: none;
    padding: 0;
    width: 300px;
    height: 150px;
    padding: 25px;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.flair {
    position: absolute;
    width: 100px;
    height: 90px;
    top: 0;
    left: 100px;
    height: 80%;
    z-index: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}
.flair.text {
    line-height: 100px;
    font-size: 100px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
}
@media (max-width: 950px) {
    nav ul {
        max-width: 600px;
    }
}
@media (max-width: 650px) {
    nav ul {
        max-width: 250px;
    }
    nav li {
        padding: 30px 0;
        width: 250px;
    }
    .flair {
        left: 75px;
    }
}
nav a {
    font-weight:     300;
    display:         block;
    text-decoration: none;
    color:           inherit;
    font-size:       40px;
    text-align:      center;
}
footer {
    padding: 0 25px;
}
footer h2 {
    font-size: 25px;
    font-weight: 300;
    color: #aaa;
    margin: 15px 0;
    text-align: center;
}
footer ul {
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}
footer li {
    border-left: 1px solid #ccc;
    list-style: none;
    margin: 0;
    float: left;
    margin: 20px 0;
    padding: 0 25px;
    width: 33%;
    min-width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
footer li:first-child {
    border-left: none;
}
@media (max-width: 950px) {
    footer ul {
        max-width: 250px;
    }
    footer li {
        float: none;
        border-left: none;
        border-top: 1px solid #ccc;
        margin: 0;
        padding: 20px 0;
        min-width: 250px;
    }
    footer li:first-child {
        border-top: none;
    }
}
footer svg {
    width: 64px;
    height: 64px;
    vertical-align: middle;
}
footer svg.sub {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
footer a, footer a:visited {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #061803;
}
a:hover, footer a:hover {
    color: #888;
}
.alternateLinks {
    padding: 0 20px;
}
.alternateLinks a {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    font-size: 14px;
}
